.marquee-block{
    width: 80%;
    background-color: #000;
    border-radius: 3px;
    font-family: 'Noto Sans TC', sans-serif;
    margin-bottom: 10px;
  }
  .marquee-block .marquee{
    position: relative;
    padding: 10px 20px;
    height: 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  .marquee-block p{
    font-size: 13px;
    letter-spacing: 2px;
    color: #fff;
    margin: 0;
    position: absolute;
    white-space: nowrap;
    font-weight: 500;
  }